.app-sidebar {
/*    width: 30%;
    float: left;
    background-color: #5eb5e0;*/
}

.header {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.header span{
  color: #eee;
}

.header div {
  margin-top: -30px;
  margin-bottom: 20px;
  font-size: 0.8em;
}

.sidebar-nav {
  padding: 0;
  margin-top: 5px;
}

.container {
    width: 70%;
    float: left;
    background-color: #718C00;
}



.group-title {
    position: relative;
    margin: 0 54px 6px 0;
}

.group-item {
    list-style-type: none;
    padding: 10px 0 6px 28px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background-color: hsla(0, 0%, 100%, 0);
    transition: border-color .4s ease;
}

.group-item input {
    width: 100%;
    display: block;
    font-size: 13px;
    font-weight: 600;
    line-height: 26px;
    height: 28px;
    color: #767676;
    border-radius: 7px;
    border: 1px solid transparent;
    padding: 0 4px;
    margin: 0 -4px;
    text-transform: uppercase;
}

.block-item {
    display: inline-block;
    position: relative;
    vertical-align: top;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .13);
    border: 1px solid rgba(0, 0, 0, .09);
    border-bottom-color: rgba(0, 0, 0, .13);
    transition: box-shadow 80ms ease, border-color 80ms ease, background-color 80ms ease;
    width: 82px;
    height: 36px;
    line-height: 34px;
    text-align: center;
    border-radius: 7px;
    background-color: #f3f2f2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    margin: 0 6px 12px 0;
    padding: 0 3px;
}

.dialog-item {
    display: inline-block;
    position: relative;
    vertical-align: top;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .13);
    border: 1px solid rgba(0, 0, 0, .09);
    border-bottom-color: rgba(0, 0, 0, .13);
    transition: box-shadow 80ms ease, border-color 80ms ease, background-color 80ms ease;
    line-height: 34px;
    text-align: center;
    border-radius: 7px;
    background-color: #f3f2f2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    margin: 0 6px 12px 0;
    padding: 0 15px;
}

.block-item.plus:before {
    content: "+";
    display: inline-block;
    width: 13px;
    height: 24px;
    opacity: .3;
    vertical-align: -6px;
}

.card-item {
  display: none;
}

.card-item .types {
    text-align: center;
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: 20px;
}

.card-item .types .type {
    float: left;
    padding: 1px 5px;
    border: 1px solid #999;
    opacity: 0.5;
    /*width: 0px;*/
}

.card-item .types:hover .type {
    opacity: 1;
    cursor: pointer;
}

.card-item .types .type:hover {
    opacity: 1;
    cursor: pointer;
    background: #eee;
}



/*.card-item .title-input:not(:first-child) {
  display: none;
}*/

.title-input ~ .title-input {
  display: none;
}




body {
  background: #333;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  min-height: 300px;
  background: #fff;
  padding-bottom: 10px;
}

.dialogs {
  width: 20%;
  padding: 15px;
  float: left;
  background: #eee;
  height: 100%;
}

.cards {
  padding-top: 10px;
  margin-left: 40%;
  width: 60%:
}

.card-item > .card {
  color: #555;
  margin: 15px;
  padding: 15px;
  background-color: #eee;
  width: 400px;
  position: relative;
}

.card-item .delete {
  background: #000;
  height: 20px;
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  z-index: 3;
  color: #000;
  width: 16px;
  padding-left: 4px;
}

.card-item > .card-text {
  background-image: url(http://icons.veryicon.com/ico/Movie%20%26%20TV/Futurama%20Vol.%204%20-%20The%20Robots/Fat%20Bot.ico);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: right -10px top;

}

.card-item > .card-json-api {
  background-image: url(http://findicons.com/files/icons/1288/futurama_vol_3_the_aliens/128/gunther.png);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: right 0px top 0px;
  background-color: #45f;
  color: #fff;

}

.card-item > .card-user-question {
  background-image: url(http://icons.veryicon.com/ico/Movie%20%26%20TV/Futurama%20Vol.%204%20-%20The%20Robots/Robo%20Fry.ico);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: right 0px bottom 0px;

}

.card-item > .card .questions-plus {
  background: #eee;
  padding: 5px;
  text-align: center;
  width: 80%;
}

.card-hint {
  margin-top: -5px;
  margin-bottom: 5px;
  font-size: 0.7em;
  text-transform: uppercase;
}

.title-input {
  font-size: 1.5em;
  width: 80%;
}

.card-item > .card input, input {
  outline: 0px;
  padding: 2px 10px;
  border: 0px;
  height: 30px;
  width: 250px;
  opacity: 0.95;
  margin: 2px;
  /*display: block;
  margin: 0 auto;*/
}

.card-item > .card .questions, .card-row {
  margin-top: 10px;
  background: #ddd;
  padding: 5px 10px;
  width: 290px;
}

.card-item > .card select {
  outline: 0px;
  padding: 2px 10px;
  border: 0px;
  height: 34px;
  width: 80px;
}

.card-item > .card .questions input, .card .questions select{
  width: 70px;
  
}

.card-row input.card-user-question-row-dialog, .card-row input.card-user-question-row-value {
  width: 110px;
}
