<!DOCTYPE html>
<html>
<head>
    <title>Bot Factory - Constructor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="http://localhost:8081/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<div class="app app-default">
  <div class="header">
    <h1>BOT<span>FACTORY</span></h1>
    <div>Создай своего бота!</div>
  </div>
  <div class="wrapper">
    <div class="bot" onclick="location.href='constructor/pizza-bot'">
      <img src="https://s2.postimg.org/3s6neeeqh/3456.png" />
      <div> Pizza demo bot </div><br><br>
    </div>
    <img src="https://s8.postimg.org/uunx44vk5/Screenshot_1.png" /> <img src="https://s21.postimg.org/6uozrxvpj/Screenshot_2.png" />
  </div>
  <style>
    .bot {
      width: 190px;
      margin: 0 auto;
      text-align: center;
      padding-top: 45px;
      cursor: pointer;
    }
  </style>
    <script type="text/javascript" src="http://localhost:8081/js/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="http://localhost:8081/js/script.js"></script>
</div>
</body>
</html>
